html{
    font-family: Helvetica;
}


body{
    margin: 0;
    background: linear-gradient(to bottom, lightskyblue 60%, white 100%);
}

#main{
    position: relative;
    height: 100vh;
    width: 100vw;
    padding: 30px;
}

h1{
    color: white;
    letter-spacing: .07em;
    font-weight: bold;
    text-align: center;
}

#skill_1{
    position: absolute;
    z-index: 1;
    left: 20%;
    top: 20%;
    padding: 10px;
}

.skills_images{
    max-height: 20vh;
    max-width: 100%;

}
