html{
    font-family: Helvetica;
    overflow: hidden;
}

body{
    margin: 0;
    background: linear-gradient(to bottom, lightskyblue 60%, white 100%);
}

#main{
    position: relative;
    height: 100vh;
    width: 100vw;
    padding-top: 30px;
}

h1{
    color: white;
    letter-spacing: .07em;
    font-weight: bold;
    text-align: center;
}

@keyframes float {
    0%, 100% {transform: translateY(0); }
    50% {transform: translateY(-4vh); }
}

#skill_1{
    position: absolute;
    z-index: 10;
    left: 20%;
    top: 20%;
    padding: 10px;
    animation: float 3.5s infinite alternate-reverse ease-in-out;
}

.cloud_images{
    position: absolute;
    z-index: 2;
    max-height: 35vh;
    max-width: 35vh;
    height: auto;
    width: auto;
}

.skills_images{
    position: absolute;
    z-index: 3;
    max-height: 11vh;
    max-width: 11vh;
    height: auto;
    width: auto;
    margin-left: 8vh;
    margin-top: 4vh;
}
